<!-- Main Toolbar of an App -->
<mat-toolbar color="black">
    <span>--- Prototype by N30j0su3 --- </span>
    <span>{{brand}}</span>
    <span class="demo-toolbar"></span>
    <!--<button mat-button href="https://github.com/n30j0su3">Go To My projects</button>-->
  </mat-toolbar>
  <!-- Card container that binds all togather -->
  <mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
      <h3>Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones</h3>
    </mat-card-title>

    <!-- Actual content starts from here -->
    <mat-card-content>
      <form [formGroup]="user" class="form_container" (ngSubmit)="onSubmit()">
        <div class="main_container">
          <div class="child1">
            <div class="num">
              <span class="numberstep">1</span>
            </div>
            <div class="content">
              <span>Aquí podras registrar tus Peticiones, Sugerencias, Reclamos, Sugerencias y Felicitaciones</span>
              <span>Sigue las siguientes instrucciones:</span><br>
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="cliente" placeholder="Número documento cliente">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!user.get('cliente').valid && user.get('cliente').touched">Ingrese un # de cédula
                  valido</span>
              </mat-error>
              <mat-form-field>
                <mat-label>Documento de compra:</mat-label>
                <select matNativeControl formControlName="tipo_documento_compra">
                  <option value="num_oferta">Número oferta</option>
                  <option value="num_pedido">Número de pedido</option>
                  <option value="num_entrega">Número de entrega</option>
                  <option value="num_factura">Número de factura</option>
                  <!--<option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>-->
                </select>
              </mat-form-field>
              <mat-error>
                <span *ngIf="!user.get('tipo_documento_compra').valid && user.get('tipo_documento_compra').touched">Seleccione
                  un tipo de documento</span>
              </mat-error>
              <mat-form-field class="demo-full-width">
                <input matInput formControlName="num_pedido" placeholder="Número de documento">
              </mat-form-field>
              <mat-error>
                <span *ngIf="!user.get('num_pedido').valid && user.get('num_pedido').touched">Ingrese un número de
                  documento valido</span>
              </mat-error>
              <mat-form-field>
                <mat-label>Motivo del contacto:</mat-label>
                <select matNativeControl formControlName="motivo_contacto">
                  <option value="Peticion">Petición</option>
                  <option value="Queja">Queja</option>
                  <option value="Reclamo">Reclamo</option>
                  <option value="Sugerencia">Sugerencia</option>
                  <option value="Felicitacion">Felicitacion</option>
                  <!--<option value="mercedes">Mercedes</option>
                            <option value="audi">Audi</option>-->
                </select>
              </mat-form-field>
            </div>
          </div>
          <div class="child2">
            <div class="num">
              <span class="numberstep">2</span>
            </div>
            <div class="content">
              <p class="space_down">Escribe aquí tus comentarios</p>
              <mat-form-field class="demo-full-width">
                <textarea matInput matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=20 formControlName="observaciones" placeholder="Comentarios"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="main_container">
          <div class="child2">
            <div class="num">
              <span class="numberstep">3</span>
            </div>
            <div class="content">
              <mat-checkbox class="example-margin" id="mat-checkbox-1" formControlName="autorizacion">
                <label class="text_term" for="mat-checkbox-1">
                  Autorizo a GRUPO DECOR S.A. para el tratamiento de datos personales, para fines publicitarios y comerciales,
                  relacionados con nuestros productos y servicios, a través de medios electrónicos y físicos.<a
                    href="https://www.decorceramica.com/terminos-y-condiciones/" target="_blank">Términos y condiciones</a>.
                </label>
              </mat-checkbox>
              <br>
              <button class="btn_style" type="submit" [disabled]="!user.valid">Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


