{{getDataBrand()}}
<h1 class="title_service_form">Elige el tipo de contacto que necesitas</h1>
<div class="container_service_brand">
  <div class="service_status">
    <a routerLink="/decorceramica">
      <img src="assets/images/logo_decor1.png" alt="">
    </a>
  </div>
  <div class="service_rotura">
    <a routerLink="/novacasa">
      <img src="assets/images/NovaCasa1.png" alt="">
    </a>
  </div>
  <div class="service_nov">
    <a routerLink="/klpcomercial">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
  <div class="service_soporte">
    <a routerLink="/klpcomercial">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
  <div class="service_pqrs">
    <a routerLink="/klpcomercial">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
</div>
