{{getDataBrand()}}
<h1 class="title_service_form">Elige el tipo de contacto que necesitas</h1>
<div class="container_service_brand">
  <div class="service_status">
    <h3>Estado de tu pedido</h3>
    <a routerLink="/decorceramica">
      <img src="assets/images/logo_decor1.png" alt="">
    </a>
  </div>
  <div class="service_rotura">
    <h3>Rotura de productos</h3>
    <a routerLink="./rotura">
      <img src="assets/images/NovaCasa1.png" alt="">
    </a>
  </div>
  <div class="service_nov">
    <h3>Novedades con tu producto</h3>
    <a routerLink="./novedades">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
  <div class="service_soporte">
    <h3>Soporte técnico</h3>
    <a routerLink="./soporte">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
  <div class="service_pqrs">
    <h3>PQRS</h3>
    <a routerLink="./pqrs">
      <img src="assets/images/Comercial1.png" alt="">
    </a>
  </div>
</div>
