.title_service_form{
  text-align: center;
  padding: 1.5em 0;
  font-family: 'Glen-Jan-EchoesSans';
}
.container_service_brand{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2em;
  height: 100%;
  min-height: 230px;
  align-items: center;
    a{
      flex: 1;
      background: #6c6d6f;
      border-radius: 50%;
      margin: 15px;
      display: flex;
      flex-flow: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      &:before{
    	  content: "";
    	  display: block;
        padding-top: 100%; 	/* ratio of 1:1*/
      }
      &:hover {
        transition: all .1s ease-in-out;
        transform: scale(1.05);
        background: #2C2C2B;
      }
      div{
        img{
          border-radius: 50%;
        }
        h3{
          font-size: 1.5em;
          text-decoration: none;
          // color: #6c6d6f;
          color: #fff;
          font-family: "Gotham-Book";
        }
      }
    }
}
@media
only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  {
  .container_service_brand{
    justify-content: center;
    padding: 1em;
    a{
      flex: 1 0 40%;
      flex-flow: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      div{
        h3{
          font-size: 1.3em;
        }
      }
    }
  }
}
