{{getDataBrand()}}
<h1 class="title_service_form">Elige el tipo de contacto que necesitas</h1>
<div class="container_service_brand">
  <!--<div class="service_status">
    <h3>Estado de tu pedido</h3>
    <a routerLink="/decorceramica">
      <img src="assets/images/logo_decor1.png" alt="">
    </a>
  </div>-->
  <a routerLink="./estado-pedido">
  <div class="service_pedido">
    <!--<h3>Rotura de productos</h3>-->
    <!--<img src="https://homecenterco.scene7.com/is/image/SodimacCO/205514_1?$producto495$&id=m0kRp0&fmt=jpg&fit=constrain,1&wid=380&hei=380" alt="">-->
    <h3>Estado de tu pedido</h3>
  </div>
  </a>
  <a routerLink="./rotura">
  <div class="service_rotura">
    <!--<h3>Rotura de productos</h3>-->
    <!--<img src="https://homecenterco.scene7.com/is/image/SodimacCO/205514_1?$producto495$&id=m0kRp0&fmt=jpg&fit=constrain,1&wid=380&hei=380" alt="">-->
    <h3>Rotura de productos</h3>
  </div>
  </a>
  <a routerLink="./novedades">
  <div class="service_nov">
      <!--<img src="https://cdn0.iconfinder.com/data/icons/product-activities/100/product-warning-512.png" alt="">-->
      <h3>Novedades con tu producto</h3>
    </div>
  </a>
  <!--<a routerLink="./soporte">
  <div class="service_soporte">
      <h3>Soporte técnico</h3>
      <img src="assets/images/Comercial1.png" alt="">
    </div>
  </a>-->
  <a routerLink="./pqrs">
  <div class="service_pqrs">
      <!--<img src="https://c7.uihere.com/files/762/679/755/request-for-quotation-sales-quote-service-computer-icons-web-banner-others.jpg" alt="">-->
      <h3>Otras peticiones</h3>
    </div>
  </a>
</div>
