.title_service_form{
  text-align: center;
  padding: 1.5em 0;
  font-family: 'Glen-Jan-EchoesSans';
}
.container_service_brand{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1em;
  height: 100%;
  min-height: 230px;
  align-items: center;
    div{
      display: flex;
      flex: 0 1 20em;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      h3{
        font-family: 'Glen-Jan-EchoesSans';
        text-align: center;
      }
      img{
        width: 100%;
      }
      img:hover{
        transform: scale(1.1);
        transition: ease .1s;
        overflow: hidden;
      }
    }/*
    div:hover{
      transform: scale(1.1);
      transition: ease .1s;
      overflow: hidden;
    }*/

    /*.brand_decor{display:flex;}
    .brand_nova{display:flex;}
    .brand_klp{display:flex;}*/
}
