mat-card{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: #DADADA;
  font-family: 'Gotham-Book';
}
mat-card-title{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Glen-Jan-EchoesSans';
  color: #565556;
}
mat-radio-button{
  padding: .8em;
}
mat-card-content{
  // margin: 1em 8em;
  margin: 1em 1em;
}
:root{
  --progress_value: 0%;
}
p, span, label{
  font-size: 1.2em;
  text-align: justify;
  color: #565556;
}
.container{
  display: flex;
  flex-flow: column wrap;
  h2, h3, span{
    font-weight: 600;
    color: #565556;
  }
}
.numberstep{
  background: #2C2C2B;
  color: #fff;
  padding: 0.4em 0.65em;
  margin: 0 5px 0 0;
  font-size: 1.1em;
  border-radius: 25px;
}
.main_container{
  display: flex;
  flex-flow: row nowrap;
  .child1{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 50vw;
    padding: 0 2em;
    .num{
      flex: 1 0 7%;
    }
    .content{
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      flex: 1 0 93%;
      .ital{
        font-size: 1em;
        font-style: italic;
      }
      .con{
        display: flex;
        flex-flow: row wrap;
        align-self: normal;
        mat-form-field{
          // min-width: 340px;
          flex: 1 0 50%;
          padding: 0 .5em;
        }
      }
      .third_part{
        display: flex;
        flex-flow: row wrap;
      }
    }
  }
  .child2{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 50vw;
    padding: 0 2em;
    .num{
      flex: 1 0 7%;
    }
    .content{
      display: flex;
      flex-flow: column nowrap;
      flex: 1 0 93%;
      /*align-items: flex-start;*/
      .ital{
        font-size: 1em;
        font-style: italic;
      }
      .con{
        display: flex;
        flex-flow: row wrap;
        mat-form-field{
          // min-width: 340px;
          flex: 1 0 50%;
          padding: 0 .5em;
        }
        p{
          flex: 1 0 100%;
        }
      }
    }
  }
  .child3{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    width: 95vw;
    padding: 0 2em;
    .num{
      flex: 1 0 0%;
    }
    .content{
      display: flex;
      flex-flow: column nowrap;
      // align-items: flex-start;
      flex: 1 0 93%;
      .progress_options{
        display: flex;
        flex-flow: row wrap;
        .ico_relative{
          position: relative;
          // left: 0%;
          left: var(--progress_value);
          transition: ease-in .2s;
          max-width: 140px;
        }
        .progress_option{
          flex: 1 1 25%;
          justify-content: center;
          text-align: center;
          align-items: center;
          h2{
            text-align: center;
          }
        }
      }
      .ital{
        font-size: 1em;
        font-style: italic;
      }
      .con{
        display: flex;
        flex-flow: row wrap;
        align-self: normal;
        p{
          padding: 0 2em 0 0em;
          span{
            font-weight: bold;
          }
        }
        mat-form-field{
          // min-width: 340px;
          flex: 1 0 50%;
          padding: 0 .5em;
        }
      }
      .third_part{
        display: flex;
        flex-flow: row wrap;
      }
    }
  }
}
#mat-checkbox-1{
  white-space: normal !important;
}
.text_term{
  white-space: normal !important;
}
.btn_style{
  align-self: center;
  background: #565556;
  color: #fff;
  padding: .5em 3em;
  font-size: 1.2em;
  margin: .5em;
}
// After that depure
.space_down{
  padding-bottom:1em;
}
.space_up{
  padding-top:1em;
}
th, td{
  padding: 0 1em;
}
.cursiva{
  font-style: italic;
}
.subrayado{
  text-decoration: underline;
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
  */
  @media
	  only screen and (min-width: 881px) and (max-width: 1023px)  {
      .ico_relative{
        max-width: 75px !important;
      }
    }
	@media
	  only screen and (max-width: 760px), (min-width: 761px) and (max-width: 1024px)  {
      .main_container{
        display: flex;
        flex-flow: column wrap;
        .child1{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: 100%;
        }
        .child2{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: 100%;
        }
        .child3{
          .content{
            .progress_options{
              .ico_relative{
                max-width: 60px;
              }
              .progress_option{
                flex: 1 1 23%;
                h2{
                  font-size: .9em;
                }
              }
            }
          }
        }
      }
      .numberstep{
        font-size: 1em;
      }
    .second_part{
      display: block !important;
      width: 100%;
    }
    mat-card-content{
      margin: 0;
    }

  }
