$main_darkgray: #2C2C2B;
/****************
Navbar Style
****************/

.nav_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background: $main_darkgray;
}

.nav_menus {
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
}
ul li{
    padding: 1em;
    font-size: 1.1em;
}
.links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li{
      a{
        color:#fff;
        text-decoration: none;
        font-family: 'Gotham-Book';
      }
    }
}
.top_links{display:none;}
.top_links .links{justify-content: center;}
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  {
  ul li{
    /*padding: 0em;
    font-size: .8em;*/
  }
}
