<div class="nav_container">
  <div class="logo_nav">
    <a routerLink="../"><img style="width: 100px;" src="{{logo_brand}}" alt="Decorcermaica - Pisos, paredes y baños"></a>
  </div>
  <div class="nav_menus">
    <div class="top_links">
      <ul class="links">
        <li class="popup_link  firstItem"><a class="etheme-popup" href="" (click)="goBack()">Campaña</a></li>
        <li><a href="https://www.decorceramica.com/donde_comprar">Dónde Comprar</a></li>
        <li class="my-account-link"><a href="https://www.decorceramica.com/mi_cuenta/">Mi cuenta</a></li>
        <li class="logout-link lastItem"><a href="#">Cerrar sesión</a></li>
      </ul>
    </div>
    <div class="menu_down">
      <ul class="links">
        <li class="popup_link firstItem"> <!--<button (click)="goBack()">save</button>-->
          <a class="etheme-popup" [routerLink]="" (click)="goBack()">Volver atrás</a></li>
        <li><a href="https://www.decorceramica.com/donde_comprar">Dónde Comprar</a></li>
        <li class="my-account-link"><a href="https://www.decorceramica.com/mi_cuenta/">Mi cuenta</a></li>
        <li class="logout-link lastItem"><a
            href="#">Cerrar
            sesión</a>
        </li>
      </ul>
    </div>
  </div>
</div>
