<!-- Main Toolbar of an App -->
<mat-toolbar color="black">
  <span>--- Prototype by N30j0su3 --- </span>
  <span class="demo-toolbar"></span>
  <!--<button mat-button href="https://github.com/n30j0su3">Go To My projects</button>-->
</mat-toolbar>

<!--<formio language='' [form]='{
  "title": "My Test Form",
  "components": [
  {
      "label": "Nombre",
      "placeholder": "Ingresa tu nombre",
      "customClass": "name_field",
      "inputFormat": "plain",
      "validate": {
          "required": true,
          "minLength": 3
      },
      "key": "textField",
      "type": "textfield",
      "input": true
  },
  {
      "type": "button",
      "label": "Submit",
      "key": "submit",
      "disableOnInvalid": true,
      "input": true
  }
]
}'></formio>-->

<!-- Card container that binds all togather -->
<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    Reposicion de Producto en rotura:
  </mat-card-title>

  <!-- Actual content starts from here -->
  <mat-card-content>
    <div class="container">
      <h3>Para obtener la reposición del producto debes generar la solicitud aquí.</h3>
      <span>Sigue las siguientes instrucciones:</span><br>
      <p>1. Si en el momento de recibir tu producto, revisaste y encontraste rotura, y dejaste una anotación en el
        documento del transportador, diligencia esta solicitud:</p><br>
      <form [formGroup]="user" class="form_container" (ngSubmit)="onFormSubmit(user.value)">
        <!--<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user"]>-->
        <div class="first_part">
          <div class="child1">
            <mat-form-field class="demo-full-width">
              <input matInput formControlName="cliente" placeholder="Ingresa el número de cédula">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!user.get('cliente').valid && user.get('cliente').touched">Ingrese un # de cédula
                valido</span>
            </mat-error>
          </div>
          <div class="child1">
            <mat-form-field>
              <mat-label>Documento de compra:</mat-label>
              <select matNativeControl formControlName="cliente">
                <option value="num_entrega">Número de entrega</option>
                <option value="num_factura">Número de factura</option>
                <!--<option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>-->
              </select>
            </mat-form-field>
            <mat-error>
              <span
                *ngIf="!user.get('tipo_documento_compra').valid && user.get('tipo_documento_compra').touched">Seleccione
                un tipo de documento</span>
            </mat-error>
            <mat-form-field class="demo-full-width">
              <input matInput formControlName="num_pedido" placeholder="Número de documento">
            </mat-form-field>
            <mat-error>
              <span *ngIf="!user.get('num_pedido').valid && user.get('num_pedido').touched">Ingrese un número de
                documento valido</span>
            </mat-error>
          </div>
        </div>
        <div class="second_part">
          <span class="cursiva no_mostrar">Para ingresar varios items, separa con comas la información </span>
          <table class="table">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descripción producto</th>
                <th>Cantidad comprada</th>
                <th>Cantidad rotura</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <mat-form-field class="demo-full-width">
                    <input matInput formControlName="codigo_producto" placeholder="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="demo-full-width">
                    <input matInput formControlName="descripcion_producto" placeholder="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="demo-full-width">
                    <input matInput formControlName="cantidad_comprada" placeholder="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="demo-full-width">
                    <input matInput formControlName="cantidad_rotura" placeholder="">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="demo-full-width">
                    <input matInput formControlName="observaciones" placeholder="">
                  </mat-form-field>
                </td>
              </tr>
              <!--
                    <tr *ngFor="let item of roturaListTable | async">
                    {{item}}
                    </tr>
                    <tr *ngFor="let rotura of roturaList; let id = index">
                    <tr *ngFor="let caserow of caseinfo.controls.caseRows.controls; let i=index" [formGroupName]="i">
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="caselpn">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="casesku">
                            </div>
                        </td>
                    </tr>-->
            </tbody>
          </table>
        </div>
        <div class="third_part">
          <p class="space_down">Como deseas que sea compensada tu rotura? </p>
          <p class="subrayado">Escoge una opción:</p>
          <mat-radio-group class="example-radio-group" formControlName="observaciones" aria-label="Select an option">
            <mat-radio-button value="reposicion">Reposición del producto</mat-radio-button>
            <mat-radio-button value="nota-credito">Nota Credito</mat-radio-button>
          </mat-radio-group>
        </div>
        <span class="space_up">Si deseas reposición de tu producto</span>
        <div class="reposicion"><span>Dirección donde deseas recibirlo:</span>
          <mat-form-field class="demo-full-width">
            <input matInput formControlName="direccion" placeholder="">
          </mat-form-field>
          <span>Ciudad:</span>
          <mat-form-field class="demo-full-width">
            <input matInput formControlName="ciudad" placeholder="">
          </mat-form-field>
        </div>
        <!--<label>
        <span>Nro Documento Cliente:</span>
        <input
          type="text"
          placeholder=""
          formControlName="cliente">
      </label>
      <label>
          <span>Documento de compra</span>
          <input
            type=""
            placeholder="Your passwornd"
            formControlName="password">
        </label>
        <label>
          <span>Confirm address</span>
          <input
            type="password"
            placeholder="Confirm your password"
            formControlName="passwordRepeat">
        </label>-->
        <!--<button type="submit">Sign up</button>-->
        <!--<button type="submit" [disabled]="user.invalid">Enviar</button>-->
        <button type="submit">Enviar</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
