<h1 class="title_brand">Selecciona una marca</h1>
<div class="container_brand">
  <div class="brand_decor">
    <a routerLink="/decorceramica">
      <img class="grow" src="assets/images/logos/decor-cua.jpg" alt="">
    </a>
  </div>
  <div class="brand_nova">
    <a routerLink="/novacasa">
      <img class="grow" src="assets/images/logos/nova-cua.jpg" alt="">
    </a>
  </div>
  <div class="brand_klp">
    <a routerLink="/klpcomercial">
      <img class="grow" src="assets/images/logos/KLP-cua.jpg" alt="">
    </a>
  </div>
</div>
