.title_brand{
  text-align: center;
  padding: 1.5em 0;
  font-family: 'Glen-Jan-EchoesSans';
}
.container_brand{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  /*padding: 1em;*/
  margin: -7px 0;
  height: 100%;
  min-height: 230px;
  align-items: center;
    div{
      display: flex;
      flex: 0 1 auto;
      justify-content: center;
      img{
        width: 100%;
          &.grow {
            transition: all .1s ease-in-out;
            &:hover {
              transform: scale(1.1);
            }
          }
      }
    }
}
@media
only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px)  {
  .container_brand{
    flex-flow: row wrap;
  }
}
